@define-color main-color #e68e0d;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces {
    background-color: #1d1d1d;
    color: #ffffff;
    border-radius: 15px;
    padding: 0 10px 0 10px;
}

#workspaces button {
    padding: 0 10px;
 
    color: #ffffff;
    border-radius: 10px;
    transition: 0.2s;
}

#workspaces button:hover {
    background: @main-color;
}

#workspaces button.active {
    color: white;
    background-color: @main-color;
    padding: 0 15px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#bluetooth,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    margin-left: 5px;
    color: #ffffff;
    border-radius: 15px;
    background-color: rgba(5, 1, 24, 0.911);
}

#window,
#workspaces {
    margin: 0 4px;
}


#workspaces,
.modules-center {
    background-color: rgba(5, 1, 24, 0.911);
    border-radius: 15px;
    border: 2px solid @main-color;
    padding: 0 10px 0 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    border: 2px solid #64727D;
}

#battery {
    border: 2px solid #ffffff;
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    border: 2px solid #26A65B;
}

@keyframes blink {
    to {
        background-color: #f53c3c;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    border: 2px solid #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    border: 2px solid #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    border: 2px solid #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    border: 2px solid #2ecc71;
    color: #ffffff;
}

label:focus {
    background-color: #000000;
}

#bluetooth {
    border: 2px solid #2ecc71;
}

#cpu {
    border: 2px solid #2ecc71;
    color: #ffffff;
}

#memory {
    border: 2px solid #9b59b6;
}

#disk {
    border: 2px solid #964B00;
}

#backlight {
    border: 2px solid #90b1b1;
}

#network {
    border: 2px solid #2980b9;
}

#network.disconnected {
    border: 2px solid #f53c3c;
}

#pulseaudio {
    border: 2px solid #f1c40f;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    border: 2px solid #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    border: 2px solid #66cc99;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    border: 2px solid #f0932b;
}

#temperature.critical {
    border: 2px solid #eb4d4b;
}

#tray-expander {   
    padding-left: 10px;
}

#tray {
    border: 2px solid #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
